@page
@model PoliceViolenceMap.Pages.DataModel

@{
    ViewData["Title"] = "About the Data";
}

<h1>About the Data</h1>
<br />
<p>This dataset was pulled from the <a href="https://mappingpoliceviolence.org" target="_blank">Mapping Police Violence Project</a>, 
    and can be downloaded in full <a href="https://mappingpoliceviolence.org/s/MPVDatasetDownload.xlsx" target="_blank">here</a>.</p>