@page
@model IndexModel
@{
    ViewData["Title"] = "Mapping Police Violence";
}

<div class="text-center">
    <div id="map"></div>
</div>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById("map"),
            { zoom: 4, center: new google.maps.LatLng(39.8283, -98.5795) }
        );

        var incidents = @Html.Raw(Json.Serialize(Model.Incidents));
        window.AddMarkersToMap(map, incidents);
    }
</script>
