@page
@model PoliceViolenceMap.Pages.StateDataModel

@{
    ViewData["Title"] = "State Data";
}

<h1>Killings By State</h1>

<form>
    @Html.DropDownListFor(m => m.SelectedState, Model.States, "Select a State", Model);
</form>

@*<partial>
    @Html.PartialAsync("_StateBreakdown", new { state = Model.StateIncidents.Where(c => c.State == Model.SelectedState) })
</partial>*@